*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    color: rgb(110, 42, 165);
}
body{
    background-color: black;
    margin-top: 25px;
}
h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 65px;
    margin-left: 37px;
}
.formpart{
    display: block;
    text-transform: capitalize;
    border-radius: 40px;
    margin-right: 200px;
    margin-left: 200px;
    background-color: rgb(177, 237, 176);
    padding: 10px;
}
input{
    margin-top: 12px;
    padding: 5px;
    border-radius: 3px;
    font-size: large;
    font-weight: 700;
    color: rgb(11, 77, 17);
    background-color: rgb(177, 237, 176);
    border-radius: 10px;
    border: 2px solid blue;
}
em{
    margin-left: 5px;
    color: rgb(255, 0, 0);
}
button{
    margin-top: 15px;  
    margin-left: 67px;
    padding: 6px;
    width: 140px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    background-color: rgb(177, 237, 176);
    border: 2px solid purple;
}
button:hover{
    background-color: rgb(92, 255, 55);
}
.userpart{
    margin-top: 15px;
    margin-right: 48px;
    font-size: larger;
    font-family: cursive;
    font-weight: 700;
}
.emailpart{
    font-size: larger;
    font-family: cursive;
    font-weight: 700;
}
.passwordpart{
    margin-left: 142px;
    font-size: larger;
    font-family: cursive;
    font-weight: 700;
}
.cpasswordpart{
    margin-right: 117px;
    font-size: larger;
    font-family: cursive;
    font-weight: 700;
}
.mnumber{
    margin-right: 95px;
    font-size: larger;
    font-family: cursive;
    font-weight: 700;
}
.dispwd{
    margin-left: 10px;
    font-size: larger;
    font-family: cursive;
}
